<!--
=========================================================
Author          :           Thomas Fujise
Date            :           11.04.2022
File            :           base.html
Version         :           1.0.0
Brief           :           HTML base for each page of the application
=========================================================
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <title>
        FitJourney - {% block title %} {% endblock %}
  </title>
  {% include "includes/css.html" %}
  <!-- Specific CSS HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
</head>
<body class="">
  {% include "includes/nav.html" %}
  <div class="main-content" id="panel">
        <!-- Header -->
        <div class="header bg-gradient-purple py-7 py-lg-8">
          <div class="container">
            <div class="header-body text-center mb-7">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                  <h1 class="text-white">
                    <a target="_blank" class="text-white"
                       href="">FitJourney</a>
                  </h1>
                  <p class="text-lead text-light">
                    The application to manage your coaching 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% block content %}{% endblock content %}
  </div>
  {% include "includes/scripts.html" %}
  <!-- Specific JS HERE --> 
  {% block javascripts %}{% endblock javascripts %}
</body>
</html>
