@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,
body {
    font-family: 'Roboto', sans-serif !important;
}

html {
    font-size: 130% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal !important;
    color: black !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    border-bottom: 2px solid grey !important;
}

article#doc-cover h1 {
    border: none !important;
}

h2 {
    font-size: 1.6em !important;
}

h3 {
    font-size: 1.5em !important;
}

h4 {
    font-size: 1.4em !important;
}

h5 {
    font-size: 1.25em !important;
}

h6 {
    font-size: 1.1em !important;
}

