{% extends 'layout/base.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% for message in get_flashed_messages() %}
    	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>  

{% endfor %}

<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">

            <div class="text-muted text-center mt-2 mb-3">            
              REGISTER
              <br />
              {% if msg %}
                <span class="text-success">{{ msg | safe }}</span>
              {% else %}
                Add your credentials
              {% endif %}
            </div>
            
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            
            {% if not success %}

              <form role="form" method="post" action="">

                {{ form.hidden_tag() }}

                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    {{ form.name(placeholder="Name",class="form-control") }}
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    {{ form.surname(placeholder="Surname",class="form-control") }}
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {{ form.email(placeholder="Email",class="form-control") }}
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    {{ form.birthdate(placeholder="Date of Birth",class="form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    
                    {{ form.password(placeholder="Password",class="form-control") }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.confirm_password(placeholder="Confirm Password",class="form-control") }}
                  </div>
                </div>

                <div class="text-center">
                  {{ form.register(class="btn btn-primary my-4") }}
                </div>
              </form>
            {% endif %}

          </div>
        </div>
        <div class="row mt-3 text-center">
          <div class="col-12">
            <a href="{{ url_for('authentication_blueprint.login') }}" class="text-light"><small>Use existing account</small></a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
