{% extends 'layout/base.html' %}

{% block title %} Add review {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid mt--8" style="margin: auto;">
  {% for category, message in get_flashed_messages(with_categories=true) %}
	
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="alert" aria-label="Close">Close</button>
  </div>
  
  {% endfor %}

<div class="row">
  <div class="card card-body h-auto" style="width: 18rem; float: right;">
    <form action="/add_review" method="POST" >
    <h5 class="card-header">Add review {{form.type(class="form-control", value=reviewFields.type)}}{{form.target(class="form-control", value=reviewFields.target)}}</h5>
    <div class="row justify-content-center" >
        <div class="col-lg-4">
            <div class="card border-light mb-3" style="max-width: 18rem;">
                <div class="card-header">{{reviewFields.field1}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ form.field1(class="form-control form-range", type="range", min="0", max="10",  oninput="outputUpdate(id, value)")}}<output for="field1" id="field1-value">{{form.field1.data }}</output></h5>
                </div>
              </div>
              </div>
            
              <div class="col-lg-4">
                <div class="card border-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{reviewFields.field2}}</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ form.field2(class="form-control form-range", type="range", min="0", max="10",  oninput="outputUpdate(id, value)")}}<output for="field2" id="field2-value">{{form.field2.data }}</output></h5>
                    </div>
                  </div>
              </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card border-light mb-3" style="max-width: 18rem;">
            <div class="card-header">{{reviewFields.field3}}</div>
            <div class="card-body">
              <h5 class="card-title">{{ form.field3(class="form-control form-range", type="range", min="0", max="10",  oninput="outputUpdate(id, value)")}}<output for="field3" id="field3-value">{{form.field3.data }}</output></h5>
            </div>
          </div>
          </div>
        
          <div class="col-lg-4">
            <div class="card border-light mb-3" style="max-width: 18rem;">
                <div class="card-header">{{reviewFields.field4}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{ form.field4(class="form-control form-range", type="range", min="0", max="10",  oninput="outputUpdate(id, value)")}}<output for="field4" id="field4-value">{{form.field4.data }}</output></h5>
                </div>
              </div>
          </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-light mb-3" style="max-width: 54rem;">
            <div class="card-header">Comment</div>
            <div class="card-body">
              <h5 class="card-title">{{ form.comment(class="form-control")}}</h5>
            </div>
          </div>
      </div>

    </div>
    <div class="pl-lg-4">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
              {{ form.submit(class="btn btn-primary btn-block") }}
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>

{% endblock content %}
{% block javascripts %}
<script>
  // Update output value for each range input
    function outputUpdate(id, val){
        document.getElementById(id.concat("-value")).value = val;
    }
</script>
{% endblock javascripts %}