{% extends 'layout/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}



<div class="container-fluid mt--8" style="margin: auto;">
  {% for category, message in get_flashed_messages(with_categories=true) %}
	
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="alert" aria-label="Close">Close</button>
  </div>
  
  {% endfor %}

  

    <div class="row justify-content-center">
  
      <div class="col-xl-8 ">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Change password </h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-warning">Password</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="/change_password" method="POST">
                {{ form.hidden_tag() }}
              <div class="pl-lg-4">
                <div class="row justify-content-center">
                    
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="oldPassword">Old password</label>
                        {{ form.oldPassword(placeholder="Old password",class="form-control") }}
                      </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="newPassowrd">New password</label>
                        {{ form.newPassword(placeholder="New password", class="form-control")}}
                      </div>
                    </div>
                </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <div class="form-group">
                              <label class="form-control-label" for="confirmPassword">Confirm new password</label>
                              {{ form.confirmPassword(placeholder="Confirm new password", class="form-control")}}
                            </div>
                          </div>
                    </div>
            
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        {{ form.change(class="btn btn-primary btn-block") }}
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
 


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}
