{% extends 'layout/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}



<div class="container-fluid mt--8" style="margin: auto;">
    {% for message in get_flashed_messages() %}
	
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn btn-secondary" data-bs-dismiss="alert" aria-label="Close">Close</button>
	</div>

{% endfor %}

  

    <div class="row">
  
      <div class="col-xl-8 ">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Edit profile </h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="/profile" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="name_update">First name</label>
                        {{ form.name(placeholder="Name",class="form-control",type="text", value=current_user.name) }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="surname_update">Last name</label>
                        {{ form.surname(placeholder="Surname", class="form-control", type="text", value=current_user.surname)}}
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="card-profile-image">
                                <a href="#">
                                    {% if current_user.profile_pic %}

                                    <img src="{{ url_for('static', filename='/assets/img/profile/' + current_user.profile_pic)}}"  align="right" id="profile_pic" class="rounded-circle" width="120" height="120">
                                    
                                    {% else %}
                            
                                    <img src="{{ url_for('static', filename='/assets/img/profile/default_profile_pic.png')}}" align="right" id="profile_pic" class="rounded-circle" width="120" height="120">
                            
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="birthdate_update"> Birthdate</label>
                      {{ form.birthdate(placeholder="Birthdate", class="form-control", type="date", value=current_user.birthdate)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="email_update">Email address</label>
                      {{ form.email(placeholder="Email", class="form-control", type="email", value=current_user.email)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                  <label class="form-control-label" for="input-file">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person " viewBox="0 0 16 16">
                      <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                  </label>
                  {{ form.profile_pic(class="form-control", type="file") }}
                </div>
              </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="weight_update">Weight (kg)</label>
                            {{ form.weight(placeholder="Weight", class="form-control", type="number", value=current_user.physicalInfo.weight, disabled=true)}}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="weight_update">Height (cm)</label>
                            {{ form.weight(placeholder="Weight", class="form-control", type="number", value=current_user.physicalInfo.height, disabled=true)}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="card_update">Card ID #</label>
                            {{ form.card_id(placeholder="Card ID", class="form-control", type="number", value=current_user.card_id, disabled=true)}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="subscription_until">Subscription Until</label>
                            {{ form.subscriptionEnd(placeholder="Subscription Until", class="form-control", type="date", value=current_user.subscriptionEnd, disabled=true)}}
                        </div>
                    </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="address_update">Address</label>
                      {{ form.address(placeholder="Address", class="form-control", type="text", value=current_user.address if current_user.address != None)}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="city_update">City</label>
                      {{ form.city(placeholder="City", class="form-control", type="text", value=current_user.city if current_user.city != None)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="country_update">Country</label>
                      {{ form.country(placeholder="Country", class="form-control", type="text", value=current_user.country if current_user.country != None)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code</label>
                      {{ form.npa(placeholder="Postal code", class="form-control", type="number", value=current_user.npa if current_user.npa != None)}}
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        {{ form.update(class="btn btn-primary btn-block") }}
                        <a class="btn btn-sm btn-warning" href="{{url_for('client_blueprint.change_password')}}">Change password</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card card-body h-auto" style="width: 18rem; float: right;">
        <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Reports </h3>
          </div>
          <div class="col-4 text-right">
            <a href="{{ url_for('client_blueprint.add_review', field1=reviewFields[1], field2=reviewFields[2], field3=reviewFields[3], field4=reviewFields[4] , type="COACHING", target=reviewTargetId) }}" class="btn btn-sm btn-secondary">Add new review</a>
          </div>
        </div>
      </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            
            {% for review in current_user.reviews %}
            <tr>
                <td>
                    {{ review.type }}
                </td>
                <td>
                    {{ review.date.strftime("%d/%m/%Y, %H:%M:%S") }}
                </td>
                <td>
                  <a class="btn btn-sm btn-primary" href="{{ url_for('client_blueprint.review', Id=review.id, Type=review.type) }}">Details</a>
                </td>
            </tr>
            {% endfor %}
          </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="card" style="max-width: 114rem;"">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Analytics</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-warning">Statistic</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
            <div class="col-lg-4">
            <div class="chart-container" style="max-width: 25rem; position: relative;">
              <canvas id="workoutTypes"></canvas>
            </div>
          </div>
            <div class="col-lg-4">
              <div class="chart-container" style="max-width: 40rem; position: relative;">
                <canvas id="workoutCount"></canvas>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="max-width: 12rem;">
                  <div class="card-header">Calories Burn</div>
                  <div class="card-body">
                    <h5 class="card-title">{{ current_user.avgCalories }}</h5>
                  </div>
                </div>
                <div class="card" style="max-width: 10rem;">
                  <div class="card-header">Heart rate avg</div>
                  <div class="card-body">
                    <h5 class="card-title">{{ current_user.avgHeartRate }}</h5>
                  </div>
                </div>
                <div class="card" style="max-width: 10rem;">
                  <div class="card-header">Time working out</div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                  </div>
                </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  var workoutList = []
  {% for workoutType in current_user.workoutTypeList %}
    workoutList.push('{{workoutType}}'.replaceAll('&#34;',''));
  {% endfor %}
  const ctx = document.getElementById('workoutTypes').getContext('2d');
  const ctx2 = document.getElementById('workoutCount').getContext('2d');
  const myChart2 = new Chart(ctx2, {
			type: 'line',
			data: {
				labels: [
					'Jan',
					'Feb',
					'Mar',
					'Apr',
					'Mai',
					'Jun',
					'Jul',
          'Aug',
          'Sept',
          'Oct',
          'Nov',
          'Dec'
				],
				datasets: [{
					label: 'Number of workouts',
					data: {{current_user.nbWorkoutPerMonth}},
					fill: false,
					borderColor: 'rgb(128, 0, 128)',
					tension: 0.1
				}]
			},
			options: {
				r: {
					suggestedMin: 0
				},
				elements: {
				line: {
					borderWidth: 3
				}
			}
			}
		});
  const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: workoutList,
      datasets: [{
        label: 'Stats',
        data: {{ current_user.workoutTypeCount }},
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]

    }
  });
  
  </script>
{% endblock javascripts %}
