{% extends 'layout/base.html' %}

{% block title %} Add new program {% endblock title %}

{% block content %}



<div class="container-fluid mt--8" style="margin: auto;">
    {% for category, message in get_flashed_messages(with_categories=true) %}
	
	<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn btn-secondary" data-bs-dismiss="alert" aria-label="Close">Close</button>
	</div>

{% endfor %}

  

    <div class="row justify-content-center">
  
      <div class="col-xl-8 ">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Add new program </h3>
              </div>
              <div class="col-4 text-right">

              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="{{url_for('coach_blueprint.add_program')}}" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token() }} 
              <div class="pl-lg-4">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="program_type">Type</label>
                          {{form.type(placeholder="Type",class="form-control")}}
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="program_file">File</label>
                          {{form.file(placeholder="Select your file",class="form-control", accept="application/pdf")}}
                        </div>
                      </div> 
                </div>
 
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                        {{form.client(class="form-control", value=clientId)}}
                        {{form.add(class="form-control btn btn-primary")}}
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
 


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}
