{% extends 'layout/base.html' %}

{% block title %} Client {% endblock title %}

{% block content %}



<div class="container-fluid mt--8" style="margin: auto;">
    {% for category, message in get_flashed_messages(with_categories=true) %}
	
	<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn btn-secondary" data-bs-dismiss="alert" aria-label="Close">Close</button>
	</div>

{% endfor %}

  

    <div class="row">
  
      <div class="col-xl-8 ">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Edit profile </h3>
              </div>
              <div class="col-4 text-right">
                <a href="{{ url_for('coach_blueprint.check_up', clientId=client.id)}}" class="btn btn-sm btn-primary">Check up</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="/profile" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="name">First name</label>
                        {{ form.name(placeholder="Name",class="form-control",type="text", value=client.name) }}
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="surname">Last name</label>
                        {{ form.surname(placeholder="Surname", class="form-control", type="text", value=client.surname)}}
                      </div>
                    </div>

                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="birthdate"> Birthdate</label>
                      {{ form.birthdate(placeholder="Birthdate", class="form-control", type="date", value=client.birthdate)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="email">Email address</label>
                      {{ form.email(placeholder="Email", class="form-control", type="email", value=client.email)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                        <div class="card-profile-image">
                            <a href="#">
                             {% if client.profile_pic %}
                                <img src="{{ url_for('static', filename='/assets/img/profile/' + client.profile_pic)}}"  align="right" id="profile_pic" class="rounded-circle" width="120" height="120">
                                  
                             {% endif %}
                            </a> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="weight">Weight (kg)</label>
                            {{ form.weight(placeholder="Weight", class="form-control", type="number", value=physicalInfo.weight, disabled=true)}}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="height">Height (cm)</label>
                            {{ form.height(placeholder="Height", class="form-control", type="number", value=physicalInfo.height, disabled=true)}}
                        </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="register_date">Date of register </label>
                          {{ form.register_date(placeholder="Register Date", class="form-control", type="date", value=client.created_at.strftime("%Y-%m-%d"), readonly=readonly)}}
                      </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="card_update">Card ID #</label>
                          {{ form.card_id(placeholder="Card ID", class="form-control", type="text", value=client.card_id if client.card_id != None, disabled=true)}}
                          <a href="{{ url_for('coach_blueprint.new_card', clientId=client.id) }}" class="btn btn-sm btn-primary">Change</a>
                          
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="subscription_until">Subscription Until</label>
                          {{ form.subscriptionEnd(placeholder="Subscription Until", class="form-control", type="date", value=subscriptionUntil, disabled=true)}}
                          <a href="{{url_for('coach_blueprint.new_subscription', clientId=client.id)}}" class="btn btn-sm btn-success">Renew subscription</a>
                          <a href="{{url_for('coach_blueprint.cancel_subscription', clientId=client.id)}}" class="btn btn-sm btn-danger">Cancel</a>
                        </div>
                    </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="address_update">Address</label>
                      {{ form.address(placeholder="Address", class="form-control", type="text", value=client.address if client.address != None)}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="city_update">City</label>
                      {{ form.city(placeholder="City", class="form-control", type="text", value=client.city if client.address != None)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="country_update">Country</label>
                      {{ form.country(placeholder="Country", class="form-control", type="text", value=client.country if client.country != None)}}
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Postal code</label>
                      {{ form.npa(placeholder="Postal code", class="form-control", type="number", value=client.npa if client.npa != None)}}
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card card-body h-auto" style="width: 18rem; float: right;">
        <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Programs </h3>
          </div>
          <div class="col-4 text-right">
            <a href="{{ url_for('coach_blueprint.add_program', clientId=client.id) }}" class="btn btn-sm btn-primary">Upload new program</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
              {% if workoutProgram != None %}
              <label class="form-control-label">Workout Program added the {{workoutProgram.date.strftime('%d/%m/%Y')}}: </label>
            </br>
              <a href="{{ url_for('coach_blueprint.program', programId=workoutProgram.id, programType="workout") }}" class="btn btn-sm btn-warning">Workout Program</a> added by <strong>{{workoutProgram.name}} {{workoutProgram.surname}}</strong>
              {% else %}
              <h4>No workout plan available yet</h4>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <div class="form-group">
                {% if dietProgram != None %}
                <label class="form-control-label">Diet Program added the {{dietProgram.date.strftime('%d/%m/%Y')}}: </label>
              </br>
                <a href="{{ url_for('coach_blueprint.program', programId=dietProgram.id, programType="diet") }}" class="btn btn-sm btn-success">Diet Program</a> added by <strong>{{dietProgram.name}} {{dietProgram.surname}}</strong>
                {% else %}
                <h4>No diet plan available yet</h4>
                {% endif %}
              </div>
            </div>
          </div>

          <hr class="my-4" />
          <div class="row">
            <div class="col-8">
              <h3 class="mb-0">Check up :</h3>
            </div>

          </div>
          {% if checkUps.count() >0 %}
          <table class="table">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            
            {% for checkUp in checkUps %}
            <tr>
                <td>
                    {{ checkUp.date.strftime("%d/%m/%Y, %H:%M:%S") }}
                </td>
                <td>
                    {{ checkUp.weight }}KG
                </td>
                <td>
                  <a class="btn btn-sm btn-primary" href="{{ url_for('client_blueprint.checkup', checkUpId=checkUp.id) }}">Details</a>
                </td>
            </tr>
            {% endfor %}
          </table>
          {%else%}
          <h4>No check up done yet</h4>
          {%endif%}
      </div>
    </div>

    <div class="row">
      <div class="col-xl-8">
        <div class="card" >
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Analytics  {% if wrktTypeCount == 0 %} - No workout done yet {%endif%}</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-warning">Statistic</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
            <div class="col-lg-4">
            <div class="chart-container" style="max-width: 25rem; position: relative;">
              
              <canvas id="workoutTypes"></canvas>
      
            </div>
          </div>
            <div class="col-lg-4">
              <div class="chart-container" style="max-width: 40rem; position: relative;">
                <canvas id="workoutCount"></canvas>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="max-width: 12rem;">
                  <div class="card-header">Calories burned 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" class="text-orange"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M12 23a7.5 7.5 0 0 1-5.138-12.963C8.204 8.774 11.5 6.5 11 1.5c6 4 9 8 3 14 1 0 2.5 0 5-2.47.27.773.5 1.604.5 2.47A7.5 7.5 0 0 1 12 23z"/> </g> </svg>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ avgCalories }}</h5>
                  </div>
                </div>
                <div class="card" style="max-width: 11rem;">
                  <div class="card-header">Heart rate avg 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-pulse-fill text-red" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9H1.475ZM.879 8C-2.426 1.68 4.41-2 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z"/>
                    </svg>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ avgHeartRate }}</h5>
                  </div>
                </div>
                <div class="card" style="max-width: 11rem;">
                  <div class="card-header">Time working out
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                      <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                    </svg>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{ totalTime }}</h5>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="chart-container" style="max-width: 40rem; position: relative;">
                <canvas id="weightUpdate"></canvas>
              </div>
            </div>
          </div>
          </div>
        </div></div>
        <div class="card card-body h-auto" style="width: 18rem; float: right;">
          <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Reports </h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">Type</th>
                      <th scope="col">Date</th>
                      <th scope="col">Details</th>
                  </tr>
              </thead>
              
              {% for review in reviews %}
              <tr>
                  <td>
                      {{ review.type }}
                  </td>
                  <td>
                      {{ review.date.strftime("%d/%m/%Y, %H:%M:%S") }}
                  </td>
                  <td>
                    <a class="btn btn-sm btn-primary" href="{{ url_for('client_blueprint.review', Id=review.id, Type=review.type) }}">Details</a>
                  </td>
              </tr>
              {% endfor %}
            </table>
        </div>
      </div>
      </div>
    </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  var workoutList = []
  {% for workoutType in wrktTypeList %}
    workoutList.push('{{workoutType}}'.replaceAll('&#34;',''));
  {% endfor %}
  const ctx = document.getElementById('workoutTypes').getContext('2d');
  const ctx2 = document.getElementById('workoutCount').getContext('2d');
  const ctx3 = document.getElementById('weightUpdate').getContext('2d');
  const weightUpdateChart = new Chart(ctx3,{
      type: 'line',
      data:{
        labels: [
					'Jan',
					'Feb',
					'Mar',
					'Apr',
					'Mai',
					'Jun',
					'Jul',
          'Aug',
          'Sept',
          'Oct',
          'Nov',
          'Dec'
				],
        datasets: [{
					label: 'Weight update',
					data: {{weightUpdate}},
					fill: false,
					borderColor: 'rgb(0, 128, 128)',
					tension: 0.1
				}]
			},
			options: {
        scales: {
            y: {
                min: 40,
                suggestedMin: 50,
                suggestedMax: 100
            }
        },
				elements: {
				line: {
					borderWidth: 3
				}
			}
      }
  });
  const workoutCountChart = new Chart(ctx2, {
			type: 'line',
			data: {
				labels: [
					'Jan',
					'Feb',
					'Mar',
					'Apr',
					'Mai',
					'Jun',
					'Jul',
          'Aug',
          'Sept',
          'Oct',
          'Nov',
          'Dec'
				],
				datasets: [{
					label: 'Number of workouts',
					data: {{nbWorkoutPerMonth}},
					fill: false,
					borderColor: 'rgb(128, 0, 128)',
					tension: 0.1
				}]
			},
			options: {
				r: {
					suggestedMin: 0
				},
				elements: {
				line: {
					borderWidth: 3
				}
			}
			}
		});
  const workoutTypeChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: workoutList,
      datasets: [{
        label: 'Stats',
        data: {{ wrktTypeCount }},
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]

    }
  });
  
  </script>
{% endblock javascripts %}
